/* header */
header {
    height: 100px;
    background-image: url(../img/pattern.png);
    background-size: 28%;
    background-color: #4EA0FF;
}

header > img {
    height: 50px;
    margin-top: 40px;
    margin-left: 10px;
}
/* /header */

